<%= form_with(model: soccer, local: true) do |form| %>
  <% if soccer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(soccer.errors.count, "error") %> prohibited this soccer from being saved:</h2>

      <ul>
      <% soccer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :for %>
    <%= form.number_field :for %>
  </div>

  <div class="field">
    <%= form.label :against %>
    <%= form.number_field :against %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
